@media  (max-width: 1150px)  {
    .main__image {
        height: auto;
    }

    .header__navigation__link {
        font-size: 1.3rem;
        padding: 27px 15px;  
    }

}





@media  (max-width: 700px)  {

    .nav__dropdown {
        display: block;
    }

    .logo {
        width: 60px;
        height: 40px;
    }

    .header__navigation {
        background-color: #fff;
    }

    .header__navigation__left {
        height: auto;
    }

    .header__navigation__ul {
        display: none;
    }

    .section__header {
        margin: 50px 0 20px 0;
    }

    .main__image__text {
        height: 40px;
        font-size: 1.2rem
    }

    .client__content img {
        width: 130px;
        height: 95px;
        margin: 5px;
    }

    .gallery-content__div {
        width: 100%;
    }

    .gallery__section__div{
        width:110px;
        height: 80px;
    
    }
    
    .gallery__section__div img {
        height: 80px;
    }

    .contact {
        width: calc(100% - 12%);
        margin: 0 auto; 
    }

    .contact__container {
        width: auto;
        height: auto;
        margin: 10px;
    }
}